.vnedorojnik{
    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 70px 0 20px 0;
        .text{
            font-size: 35px;
            font-weight: 600;
            display: flex;
            align-items: center;
            h3{
                margin: 0;
            }
            p{
                margin: 0 10px;
            }
            a{
                margin-right: 10px;
                color:   rgba(128, 128, 128, 0.479);
            }
            
        }
        .toBack{
            color: #019064;
            padding: 7px 15px;
            border:1px solid rgba(0, 128, 0, 0.164);
            border-radius: 5px;
            transition: all .3s ease;

            svg{
                transition: transform .2s ease;
                margin: 0 2px 0 0;
            }

            &:hover{
                -webkit-box-shadow: 0px 0px 10px -1px rgba(1, 144, 101, 0.34);
                -moz-box-shadow: 0px 0px 10px -1px rgba(1, 144, 101, 0.34);
                box-shadow: 0px 0px 10px -1px rgba(1, 144, 101, 0.349);
                svg{
                    transform: translate(-3px, 0);
                }
            }

            
        }
    }   

    ul{
        padding: 0;
        margin-bottom:150px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
            width: 30%;
            padding: 30px 20px;
            margin:20px 0;
            list-style: none;
            box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.233);
            border-radius: 5px;
            transition: all .3s ease;
            &:hover{
                -webkit-box-shadow: 0px 0px 23px 14px rgba(34, 60, 80, 0.11);
                -moz-box-shadow: 0px 0px 23px 14px rgba(34, 60, 80, 0.11);
                box-shadow: 0px 0px 23px 14px rgba(34, 60, 80, 0.11);
            }
            a{  
                padding: 30px 0;
                .product_img{
                    width: 307px;
                    height: 200px;
                    overflow: hidden;
                }

                .title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 80px 0 0 0;

                    img{
                        width:   25px;
                        height: 25px;
                    }
                    p{
                        font-size: 20px;
                        font-weight: 600;
                        color: black;
                        margin: 0;
                        text-transform: uppercase;
                    }
                }
                
            }
            
        }
    }
}